body {
	margin:0;
	padding:0;
	height:100%;
}
/*a {
	font-weight: none;
	text-decoration: underline;
	color: black
}
a:visited {
	color: darkred
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
	background-color:#f7c3c3;
}*/
.nav-pills a {
	font-weight: none;
	text-decoration: underline;
	color: black;
	font-size:20px;
	font-style:italic;
}
.nav-pills a:visited {
	color: darkred;
}
.nav-pills a:hover {
	font-weight: bold;
}
.nav-pills a:active {
	text-decoration: none;
	background-color:#f7c3c3;
}
#header {
	padding:0px;
}
#restaurantheader {
	font-style:italic;
	color:darkred;
	text-align: center;
	font-size: 60px;
}
#noscript {
	text-align: center;
	color: red;
	font-weight: bold;
	font-size:20px; 
	padding: 10px:
}
#homecontent,#menucontent,#contactcontent {
	padding-bottom:100px; /* Height of the footer element */
}
#menucontent {
	background-color:lightgray;
}
#homecontent {
	background-color:#F7C3C3;
}
#fooditems {
	text-align: center;
	border-spacing: .5em;
}
#fooditems h3, #fooditems p {
	font-style:italic;
	}
#fooditems h3, #beverages h3 {
	color:darkred;
	font-size:20px;
}
#fooditems p, #beverages p{
	color: #460303
}
#beverages h3, #beverages p {
	font-style: italic;
}
#beverages h3 {
	text-decoration: underline;
}
#beverages {
	padding-top:20px;
}
#beverages p, h3 {
	text-align: center;
}
#footer {
	width:100%;
	height:100px;
	position:static;
	bottom:0;
    left:0;
    font-size: 16px;
    font-style:italic;
    color:darkred;
    text-align: center;
}